<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-10">
                <div class="card">
                    <div class="card-header" data-background-color="red">
                        <h4 class="title">Nuevo ingreso</h4>
                        <p class="category">Datos del ingreso</p>
                    </div>
                    <div class="card-content">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group form-black label-floating">
                                    <label class="control-label">Fecha de ingreso</label>
                                    <my-date-picker [options]="myDatePickerOptions" (dateChanged)="onDateChanged($event)" [selDate]="newEntry.dateEntry" placeholder="Ingrese la fecha"></my-date-picker>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <dropdown-generic [listDrop]='beds' (selectItem)="handleSelectBed($event)"></dropdown-generic>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group form-black">
                                    <label class="control-label">Paciente</label>
                                    <div>
                                        <div class="col-md-8">
                                            <input type="text" class="form-control col-md-4" [(ngModel)]='documentUser' placeholder="Ingrese el documento ..."></div>
                                        <div class="col-md-4">
                                            <a href="" (click)="viewFind = !viewFind" class="dropdown-toggle" data-toggle="dropdown">
                                                        <i class="material-icons">find_in_page</i>Buscar pacientes
                                                </a>
                                        </div>
                                        <patient-find *ngIf="viewFind" (selectPatient)="handleSelectPatient($event)"></patient-find>
                                    </div>

                                </div>

                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group form-black label-floating">
                                    <label class="control-label">Diagnósitco medico</label><br/>
                                    <textarea class="form-control" placeholder="Ingrese el diagnostico"></textarea>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group form-black label-floating">
                                    <label class="control-label">Diagnósitco nutricionista</label><br/>
                                    <textarea class="form-control" placeholder="Ingrese el diagnostico"></textarea>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group form-black label-floating">
                                    <label class="control-label">Prescripción medico</label><br/>
                                    <textarea class="form-control" placeholder="Ingrese el prescripción"></textarea>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group form-black label-floating">
                                    <label class="control-label">Prescripción nutricionista</label><br/>
                                    <textarea class="form-control" placeholder="Ingrese el prescripción"></textarea>
                                </div>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                        <button class="btn btn-success">Agregar</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>