<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header" data-background-color="red">
                        <h4 class="title">Buscar pacientes</h4>
                        <p class="category"></p>
                    </div>
                    <div class="card-content table-responsive">
                        <div *ngIf="!listPatients || listPatients.length == 0">
                            <label class="label label-warning" style="color:black">No se encontraron pacientes para ese nombre o documento ingresado.</label>
                        </div>
                        <table *ngIf="listPatients && listPatients.length > 0" class="table">
                            <thead class="text-danger">
                                <tr>
                                    <th>Nombre</th>
                                    <th>Apellido</th>
                                    <th>Documento</th>
                                    <th>Sexo</th>
                                    <th>Fecha nacimiento</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let item of listPatients">
                                    <td>{{item.firstName}}</td>
                                    <td>{{item.lastName}}</td>
                                    <td>{{item.document}}</td>
                                    <td *ngIf="item.sex == 'H'">Masculino</td>
                                    <td *ngIf="item.sex == 'M'">Femenino</td>
                                    <td>{{item.birthDate.formatted | date:'dd-MM-yyyy'}}</td>
                                    <td class="text-success"><a (click)="selectPatient(item)">Seleccionar</a></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="col-md-12"></div>
        </div>
    </div>
</div>

